
.back-button {
  font-size: 150%;
  margin-right: 10px;
}
.page-header > h1 {
  display: inline-block;
}
.list-item-title {
  font-size: 150%;
  margin-left: 10px;
  margin-right: 10px;
}
.list-item-subtitle {
  margin-left: 10px;
  margin-right: 10px;
}

.spaced-out {
  margin-left: 10px;
  margin-right: 10px;
}


/* -------------------------------------------------------------------------------------------------
/* Chat Related CSS Credits: http://codepen.io/drehimself/pen/KdXwxR;
/* ---------------------------------------------------------------------------------------------- */

.chat {
  background: #F2F5F8;
}

.messages {
  height: 80vh;
  padding-top: 5%;
  overflow-y: scroll;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px solid white;
}

.messages .message {
  margin-top: 5%;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 85%;
  position: relative;
}

.messages .my-message {
  margin-left: 15%;
  padding-right: 10px;
  color: white;
  background: #94C2ED;
}

.messages .my-message::after {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #94C2ED;
  border-width: 10px;
  margin-left: -10px;
}

.messages .other-message {
  background: #86BB71;
  color: white;
}
.messages .other-message::after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.message-data .message-data-time {
  padding-left: 6px;
  color: #92959E;
}

.message-data .message-data-name {
  color: #4b4f56;
}

.message-box {
  height: 20vh;
  width: 100%;
  padding: 6%;
}
.message-box textarea {
  height: 100%;
  border-radius: 5px;
  background: #444753;
  width: 100%;
  resize: none;
  border: none;
  background: white;
  padding: 10px 20px;
  font-size: 18px;
}

