
.back-button {
  font-size: 150%;
  margin-right: 10px;
}
.page-header > h1 {
  display: inline-block;
}
.list-item-title {
  font-size: 150%;
  margin-left: 10px;
  margin-right: 10px;
}
.list-item-subtitle {
  margin-left: 10px;
  margin-right: 10px;
}

.spaced-out {
  margin-left: 10px;
  margin-right: 10px;
}
.hidden {
  display: hidden;
}

/* https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;


}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* http://stackoverflow.com/a/13356401 */
.absolute-center {
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}


/* -------------------------------------------------------------------------------------------------
/* Event Page
/* ---------------------------------------------------------------------------------------------- */

.event-list-page-wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  height: 100%;
  overflow-y: scroll;
}

.event-page-wrapper,
.profile-page-wrapper {
  padding-top: 70px;
  padding-bottom: 50px;
  height: 100%;
}

.update-event,
.create-event,
.update-profile {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}

.update-event a,
.create-event a,
.update-profile a {
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  background-color: #444753;
  -webkit-box-shadow: 0px 5px 13px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 5 13px -3px rgba(0,0,0,0.5);
  box-shadow: 0px 5 13px -3px rgba(0,0,0,0.5);
  opacity: 0.7;
}

.update-event a:active,
.update-event a:hover,
.create-event a:active,
.create-event a:hover,
.update-profile a:active,
.update-profile a:hover {
  opacity: 1.0;
}

.update-event .glyphicon,
.create-event .glyphicon,
.update-profile .glyphicon {
  font-size: 28px;
  color: #ffffff;
  vertical-align: middle;
}

/* -------------------------------------------------------------------------------------------------
/* Event Membership
/* ---------------------------------------------------------------------------------------------- */

.event-membership-page-wrapper {
  padding-top: 70px;
  height: 100%;
  overflow-y: scroll;
}


/* -------------------------------------------------------------------------------------------------
/* Navigation
/* ---------------------------------------------------------------------------------------------- */

.navbar-wrapper {
  z-index: 99;
  position: fixed;
  background: #444753;
  height: 55px;
  width: 100%;
}

.navbar-wrapper .menu {
  list-style-type: none;
  height: 100%;
  padding-left: 0;
  background: #444753;
}

.navbar-wrapper .menu-item {
  float: left !important;
  width: 25%;
  height: 100%;
  text-align: center;
  padding-top: 15px;
}

.navbar-wrapper button {
  float: left !important;
  width: 25%;
  height: 100%;
  text-align: center;
}

.navbar-wrapper.menu-item .glyphicon {
  color: white;
  font-size: 20px;
}

.navbar-wrapper .dropdown {
  padding-left: 15px;
  padding-right: 15px;
  float: right !important;
  height: 100%;
  text-align: center;
  padding-top: 15px;
}

.navbar-wrapper a {
  color: white;
  font-size: 20px;
}

.navbar-wrapper .dropdown-menu {
  left: -70px;
  margin: 0;
}

.dropdown-menu>li>a> .glyphicon {
  margin-right: 6px;
}
/* -------------------------------------------------------------------------------------------------
/* Chat Related (Some styling borrowed from: http://codepen.io/drehimself/pen/KdXwxR)
/* ---------------------------------------------------------------------------------------------- */

.chat {
  background: #F2F5F8;
}

.messages {
  height: 80vh;
  padding-top: 70px;
  overflow-y: scroll;
  padding-left: 5%;
  padding-right: 5%;
  border-bottom: 2px solid white;
}

.messages .message {
  margin-top: 5%;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 85%;
  position: relative;
}

.messages .my-message {
  margin-left: 15%;
  padding-right: 10px;
  color: white;
  background: #94C2ED;
}

.messages .my-message::after {
  bottom: 100%;
  left: 93%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #94C2ED;
  border-width: 10px;
  margin-left: -10px;
}

.messages .other-message {
  background: #86BB71;
  color: white;
}
.messages .other-message::after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.message-data .message-data-time {
  padding-left: 6px;
  color: #92959E;
}

.message-data .message-data-name {
  color: #4b4f56;
}

.message-box {
  height: 20vh;
  width: 100%;
  padding: 6%;
}
.message-box textarea {
  height: 100%;
  border-radius: 5px;
  background: #444753;
  width: 100%;
  resize: none;
  border: none;
  background: white;
  padding: 10px 20px;
  font-size: 18px;
}

