.back-button {
  font-size: 150%;
  margin-right: 10px;
}
.page-header > h1 {
  display: inline-block;
}
.list-item-title {
  font-size: 150%;
  margin-left: 10px;
  margin-right: 10px;
}
.list-item-subtitle {
  margin-left: 10px;
  margin-right: 10px;
}

.spaced-out {
  margin-left: 10px;
  margin-right: 10px;
}
